<div style="display: centre;"> 
  <p>Tasks for project</p>
</div>
<mat-grid-list cols="1" rowHeight="1:1" width="70%">
  <mat-grid-tile>
    <mat-grid-tile-header>header</mat-grid-tile-header>
   
      <div class="table" style="width: 80%; height: 80%;"> 
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="task">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.task}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> description </th>
            <td mat-cell *matCellDef="let element">{{element.description}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      </div>
    <mat-grid-tile-footer> footer</mat-grid-tile-footer>
  </mat-grid-tile>

  

</mat-grid-list>


<!-- <div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div> -->